[program:redis-{{ redisport }}]
command={{ installdir }}/{{ redisport }}/bin/redis-server {{ installdir }}/{{ redisport }}/conf/redis-{{ redisport }}.conf
directory={{ installdir }}/{{ redisport }}
redirect_stderr=true
